.box {
    height: 300px;
    width: 400px;
    border:blue 10px solid; 
    display: grid;
    border-radius: 10px
    
}

.hello {
    font-size: 75px;
    font-style: oblique;
    font-weight:bolder;
    color:white;
    background:red;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0;
    line-height: 10px;
    


}

.my-name-is {
    font-size: 35px;
    color:white;
    text-align: center;
    
    
    
}

.footer {
    background:red; 
}


.steven-mak {
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
    padding-top: 10px;
    font-style: italic 
    
}